.currency
	padding: 20px 0
	text-align: center
	position: relative

.container
	text-align: left
	display: inline-block
	width: calc(100% - 60px)

.value
	text-align: right
	border: 0
	background: transparent
	color: #daf1ff
	outline: none

.arrow
	width: 30px
	display: inline-block
	cursor: pointer

.right
	float: right

.value,
.prefix,
.currency-name
	font-size: 20px